body {
    background-color: #f0f2f5;
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.velocidade {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dados_vel{
    display: flex;
    justify-content:center;
}

.rpm{
    display: flex;
    justify-content:center; 
}